@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="camila.cristine.a@gmail.com">camila.cristine.a@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<div>

    <p style="font-size: 20px">Visite nossa página no Instagram</p>
    <a target="_blank" href="https://www.instagram.com/camila_apolinari0/"><img style="height: 3%; width: 3%;" src="~/images/instagram.svg" /></a>

</div>
